.list .last > div > div > div:last-child {
  margin-bottom: 5px;
}

.list .first > div > div > div:first-child {
  margin-top: 5px;
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
}

.list.loading {
  opacity: 0;
}

.list::-webkit-scrollbar-track {
  background-color: transparent;
}

.list::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 1px;
  background-color: var(--scrollbar-color);
}

.list.scrolling::-webkit-scrollbar-thumb {
  visibility: visible;
}
