.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.container .grid {
  width: 85%;
  max-width: 350px;
  display: flex;
  padding-left: 6px;
}

.container.right,
.container .grid.right {
  justify-content: flex-end;
}

.container .picture {
  height: 100%;
  width: 42px;
  min-width: 42px;
  visibility: hidden;
  display: flex;
  align-items: flex-end;
}
.container.arrow:not(.right) .picture {
  visibility: visible;
}
.container.right .picture {
  display: none;
}

.container .picture > div {
  height: max-content;
  width: 100%;
}
.container .picture > div > img {
  border-radius: 50%;
  width: 100%;
  box-shadow: 0px 0px 3px var(--message-border-color);
}

.message {
  color: var(--message-font-color);
  width: 100%;
  position: relative;

  font-size: 15px;
  white-space: pre-wrap;

  margin: 2px 7px 1px 5px;
  padding: 4px 7px 4px 7px;

  background-color: var(--message-background-color);
  background-clip: padding-box;
  width: max-content;
  min-width: 120px;

  border-radius: 3px;
  border: 1px solid var(--message-border-color);
  border-top: 0;
}

.message.arrow {
  border-radius: 3px 3px 3px 0px;
  margin-bottom: 3px;
}

.message.arrow::before,
.message.arrow::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;

  bottom: 0px;
  left: -8px;
  border-bottom: 9px solid var(--message-background-color);
  border-left: 9px solid transparent;
}

.message.arrow::before {
  bottom: 0px;
  left: -9px;
  border-bottom: 13px solid var(--message-border-color);
  border-left: 13px solid transparent;
  box-shadow: 0px 1px 0px var(--message-border-color);
  z-index: -1;
}
.message.arrow.right {
  border-radius: 3px 3px 0px 3px;
}

.message.right {
  --message-font-color: var(--message-alt-font-color);
  --message-border-color: var(--message-alt-border-color);
  --message-background-color: var(--message-alt-background-color);
  color: var(--message-alt-font-color);
}

.message.right.arrow::before,
.message.right.arrow::after {
  left: unset;
  right: -8px;
  border-right: 9px solid transparent;
}
.message.right.arrow::before {
  left: unset;
  right: -9px;
  border-right: 13px solid transparent;
}

.message .contentContainer {
  display: flex;
  flex-direction: column;
}

.message .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 0px;
  max-width: 100%;
}

.message .text {
  justify-self: flex-end;
  vertical-align: baseline;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-height: 18px;
  max-width: 100%;
}

.message .angle {
  display: flex;
  margin-left: auto;
  padding-left: 5px;
  align-self: flex-end;
  font-size: 10px;
  height: 10px;
  z-index: 1;
  position: relative;
  left: 3px;
}

.message .angle > svg.check {
  position: relative;

  margin-left: 4px;
  font-size: 9px;
  height: 100%;
  opacity: 0.7;
}
