.list {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.list .first > div > div {
  margin-top: 6px;
}

.list .last > div > div {
  margin-bottom: 6px;
}

.messages .list::-webkit-scrollbar {
  display: none !important;
  width: 0px;
}
