.header {
  position: absolute;
  top: 0px;
  height: 45px;
  width: 100%;
  background: var(--primary-color);
  color: white;

  display: flex;
  align-items: center;
  box-shadow: 0px 1px 10px var(--primary-shadow-color);
}
