.input {
  width: 100%;

  min-height: 45px;
  height: max-content;

  border-top: 1px solid var(--input-border-color);
  box-shadow: 0px 0 8px var(--input-shadow-color);
  background: var(--input-background-color);

  display: flex;
  z-index: 10;
}

.input > textarea {
  flex-grow: 1;
  overflow: visible;
  resize: none;
  max-height: 100px;
  line-height: 100%;
  font-size: 16px;
  padding: 14px 0px 11px 10px;
  border: 0px;

  color: var(--font-color);
}

.input > textarea::-webkit-scrollbar {
  display: none;
}

.input > .send {
  visibility: hidden;
  opacity: 0;
  max-width: 40px;
  min-width: 40px;

  flex-basis: auto;
  align-self: flex-end;
  border: 0;
  background: none;
  text-align: center;
  transition: all 0.2s ease;
}

.input > .send svg {
  position: relative;
  font-size: 30px;

  bottom: 1px;
  color: var(--icon-color);
}

.input > textarea:focus + .send {
  opacity: 1;
  visibility: visible;
}
