.placeholder {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder > svg {
  font-size: 56px;
  color: var(--icon-color);
  position: relative;
  bottom: 10px;
}
