.light.theme {
  --primary-color: rgb(105, 82, 114);
  --primary-border-color: rgb(105, 82, 114);
  --primary-shadow-color: rgb(105, 82, 114, 0.4);

  --body-color: rgb(243, 243, 243);
  --font-color: rgba(0, 0, 0, 0.87);
  --lighter-font-color: grey;
  --icon-color: grey;
  --header-icon-color: white;

  --message-font-color: rgba(41, 41, 41, 0.87);
  --message-border-color: rgb(221, 221, 221);
  --message-background-color: rgb(255, 255, 255);

  --message-alt-font-color: rgb(95, 77, 104);
  --message-alt-border-color: rgb(185, 169, 190);
  --message-alt-background-color: rgb(236, 229, 238);

  --input-background-color: white;
  --input-border-color: lightgrey;
  --input-shadow-color: rgba(200, 200, 200, 0.6);

  --scrollbar-color: #0000003b;
  --overlay-background-color: rgba(0, 0, 0, 0.92);
}

.light.theme *,
.dark.theme * {
  font-family: "Lato", sans-serif;
}

.dark.theme {
  --primary-color: rgb(105, 82, 114);
  --primary-border-color: rgb(64, 54, 75);

  --body-color: rgb(45, 44, 48);
  --font-color: white;
  --lighter-font-color: rgb(194, 194, 194);
  --icon-color: white;
  --header-icon-color: white;

  --message-font-color: white;
  --message-border-color: rgb(36, 36, 36);
  --message-background-color: rgb(69, 67, 70);

  --message-alt-font-color: white;
  --message-alt-border-color: rgb(45, 38, 49);
  --message-alt-background-color: rgb(89, 76, 94);

  --input-background-color: rgb(69, 67, 70);
  --input-border-color: rgb(36, 36, 36);

  --scrollbar-color: rgb(84, 82, 85);
  --overlay-background-color: rgba(0, 0, 0, 0.87);
}

.theme {
  --primary-color: rgb(105, 82, 114);
}
